{% extends 'base.html.twig' %}

{% block body %}
    <h1>BlogTitle</h1>
    <div class="row">
        <p class="col-sm-12 col-lg-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, impedit! Quod veniam quas id alias maiores aliquid
                                    labore totam eos? Ipsa laudantium ullam doloremque voluptatibus ab odit, libero doloribus nam!
                                    Unde, architecto laborum sed at veritatis necessitatibus accusantium vero distinctio perferendis alias officiis?
                                    Sequi optio debitis aspernatur.
        </p>

        <p class="col-sm-12 col-lg-9 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure atque amet, quis nostrum alias, odio vero libero
                                    mollitia reprehenderit nobis nulla rem! Ab excepturi vitae repellat dolorum quae ad animi!
                                    Sequi possimus veniam, quas rerum ipsum quisquam quaerat earum repellat vel nam modi ratione dicta iste vitae ut
                                    atque odio cumque enim aperiam totam tenetur voluptatum aspernatur? Ipsam, expedita repellat!
                                    Dolorem, officia nemo! Tenetur saepe fugit optio et veritatis amet iste reiciendis obcaecati cum, voluptas animi
                                    odit illo error recusandae ipsam totam id tempora, itaque eos quae? Voluptatibus, a quae.
        </p>
    </div>
{% endblock %}
